:root {
    --main-blue: rgb(8, 80, 248);
    --dark-grey: rgb(101, 101, 101);
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-space {
    width: 40px;
}

#nav-logo {
    padding: 7px 0 11px 0;
    height: 30px;
    display: flex;
    width: 112px;
    align-self: flex-start;
}

#top-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    flex-grow: 1;
    justify-content: space-around;
}  

.chrome-animation {
    transition: 1s font-size, color;
}

.top-nav-item:hover a, .top-nav-item a:focus-visible {
    color:var(--main-blue);
    outline: none;
    font-size: 17px;
}

.top-nav-item a:hover {
    color: var(--main-blue);
    outline: none;
    font-size: 17px;
}

.hidden {
    visibility: hidden;
}

.top-nav-item a {
    text-decoration: none;
    color: black;
}

#nav-top-right-icons{
    display: inline-flex;
    width: 150px;
    justify-content: space-between;
}

#nav-sign-in, #nav-try-it-free {
    border: 2px solid;
    border-radius: 5px;
    font-size: small;
    width: 65px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#nav-sign-in{
    color:var(--main-blue)
}

#nav-try-it-free {
    color:white;
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

#header {
    display: flex;
    margin: auto 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-sec1 h1{
    line-height: 1.5;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

#header-sec1 h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0;
}

#header-sec1 > p{
    color: grey;
    width: 400px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 15px;
}

#header-sec1-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

#header-sec1-buttons > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid var(--main-blue);
}


#sign-up-free-blue {
    background-color: var(--main-blue);
    color: white;
}   

#chat-with-us {
    background-color: white;
    color:var(--main-blue);
}


#header-sec1-buttons a {
    text-decoration: none;
}


#already-use-doubletap {
    text-decoration: none;
    font-weight: 400;
    color:var(--dark-grey);
}

.two-ellipse-line {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    font-size: 10px;
}

.ellipse {
    height: 7px;
    width: 6px;
    background-color: var(--main-blue);
    border-radius: 50%;
}

#header > img {
    object-fit: contain;
    height: 400px;
    margin: 20px;
}

hr {
    width: 60%;
    border: none;
    height: 0.5px;
    background-color: darkgray;
}

#explore-double-tap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

#explore-double-tap > p {
    margin: 0;
    font-size: 12px;
    max-width: 500px;
    text-align: center;
}

#explore-card-holder {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.explore-card{
    width: 70px;
    height: 80px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.explore-card p {
    color: var(--dark-grey);
    margin-top: 10px;
}

#center-icon {
    border: 1px solid;
    font-size: 17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color: transparent;
}

.explore-icon-holder {
    width: 40px;
    height: 30px;
    object-fit: contain;
}

.explore-card img{
    max-width: 90%;
    max-height: 90%;
}

.active-explore-card {
    background-color: var(--main-blue);
}

.active-explore-card > p {
    color: white;
}

#accepting-payments-holder-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

#accepting-payments-holder {
    width:80%;
    display: flex;
    justify-content: center;
}

#big-credit-card-image-holder {
    border: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
}

#big-credit-card-image {
    object-fit: contain;
    width: 300px;    
}

#accepting-text-holder {
    border: 1px solid var(--main-blue);
    border-radius: 0 10px 10px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: var(--main-blue);
}

#accepting-text {
    color: white;
    max-width: 400px;
}

#accepting-text-paragraph{
    font-size: 10pt;
}

.accepting-text-list {
    font-size: 8pt;
}

#learn-more-blue {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    border: 1px solid white;
    font-size: 10pt;
    background-color: var(--main-blue);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

#learn-more-blue p {
    margin: 7px auto;
    font-size: 8pt;
    font-weight: 300;
}

.learn-more-right-caret {
    font-size: 20px;
}

#solution-card-holder-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.solution-card-holder {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.solution-card {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 230px;
    align-items:center;
    padding: 5px;
}

.solution-card-icon-background {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(229, 239, 255);
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    font-size: 40px;
    color: var(--main-blue);
}

.solution-card h3 {
    font-size: 15pt;
    margin: 10px;
}
.solution-card p {
    font-size: 8pt;
    margin: 0;
}

.learn-more-grey {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 120px;
    border: 2px solid var(--dark-grey);
    font-size: 10pt;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.learn-more-grey p {
    margin: 4px auto;
    font-size: 8pt;
    font-weight: 400;
}

.learn-more-right-caret {
    font-size: 20px;
}

footer {
    background-color: var(--main-blue);
    text-align: center;
    color: white;
}

#footer-buttons-holder {
    display:flex;
    justify-content: center;
    width: 100%;
}

#footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

#footer-buttons>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
}

#get-started-footer {
    background-color: rgb(127,209,37);
    color: white;
}

#chat-with-us-footer {
    background-color: white;
    color: var(--main-blue);
}

#ellipse-holder-footer {
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.ellipse-footer {
    height: 7px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
}