:root {
    --main-blue: rgb(8, 80, 248)
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-space {
    width: 40px;
}

#nav-logo {
    padding: 7px 0 11px 0;
    height: 30px;
    display: flex;
    width: 112px;
    align-self: flex-start;
}

#top-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    flex-grow: 1;
    justify-content: space-around;
}  

.chrome-animation {
    transition: 1s font-size, color;
}

.top-nav-item:hover a, .top-nav-item a:focus-visible {
    color:var(--main-blue);
    outline: none;
    font-size: 17px;
}

.top-nav-item a:hover {
    color: var(--main-blue);
    outline: none;
    font-size: 17px;
}

.hidden {
    visibility: hidden;
}

.top-nav-item a {
    text-decoration: none;
    color: black;
}

#nav-top-right-icons{
    display: inline-flex;
    width: 150px;
    justify-content: space-between;
}

#nav-sign-in, #nav-try-it-free {
    border: 2px solid;
    border-radius: 5px;
    font-size: small;
    width: 65px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#nav-sign-in{
    color:var(--main-blue)
}

#nav-try-it-free {
    color:white;
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

#header {
    display: flex;
    margin: auto 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-sec1 h1{
    line-height: 1.5;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

#header-sec1 h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0;
}

#header-sec1 > p{
    color: grey;
    width: 400px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 15px;
}

#header-sec1-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

#header-sec1-buttons > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid var(--main-blue);
}


#sign-up-free-blue {
    background-color: var(--main-blue);
    color: white;
}   

#chat-with-us {
    background-color: white;
    color:var(--main-blue)
}


#header-sect1-buttons a {
    text-decoration: none;
}


#already-use-doubletap {
    text-decoration: none;
    font-weight: 400;
    color:rgb(108, 108, 108);
}

.two-ellipse-line {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    font-size: 10px;
}

.ellipse {
    height: 7px;
    width: 6px;
    background-color: var(--main-blue);
    border-radius: 50%;
}

#header > img {
    object-fit: contain;
    height: 400px;
    margin: 20px;
}

hr {
    width: 60%;
    border: none;
    height: 0.5px;
    background-color: darkgray;
}